// Resaults Wrapper CSS
.resaults_wrapper {
    background: var(--color-primary);
    border: 1px solid var(--color-gray);
    box-shadow: 0px 4px 4px var(--color-gray);
    border-radius: 7px;
  
    .resaults_filter_cc {
      width: 100%;
      background-color: #FFFFFF;
      color: var(--color-text);
      font-size: .9rem;
      padding: .7rem 2rem;
      border-radius: 7px;
      text-align: left;
    }
  
    .btn-primary:focus,
    .btn-primary:hover,
    .btn-primary:active {
      width: 100%;
      background: var(--color-gray);
      color: var(--color-text);
    }
  
    .toast {
      width: 100%;
  
      .toast-body {
        background-color: #FFFFFF;
        padding: 1rem;
        word-wrap: break-word;
        border-bottom-left-radius: 7px !important;
        border-bottom-right-radius: 7px !important;
  
        p {
          font-family: var(--font-family);
          color: var(--color-primary);
          font-weight: 700;
          font-size: 1rem;
          margin-bottom: .5rem;
        }
      }
    }
  
}