// Search Wrapper CSS
.search_wrapper {
    background: #FFFFFF;
    border: 1px solid var(--color-gray);
    box-shadow: 0px 4px 4px var(--color-gray);
    border-radius: 7px;
  
    p {
      font-family: var(--font-family);
      color: var(--color-primary);
      font-weight: 700;
      font-size: 1rem;
      margin-bottom: .5rem;
    }
  
    .form-floating>label {
      color: var(--color-text);
      font-size: 14px;
      font-weight: 400;
    }
  
    .input-cont {
      font-size: 0.8rem;
      color: var(--color-text);
      font-weight: 400;
      border-color: var(--color-gray);
      border-radius: 7px !important;
      cursor: pointer;
    }
  
    // Parameters CSS
    .cargo_parameters {
  
      p {
        color: var(--color-primary);
        font-size: 1rem;
        font-weight: 400;
        margin-top: .5rem;
        margin-bottom: .7rem;
      }
  
      .delivery_types {
  
        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
          background: var(--color-primary-light);
          color: var(--color-primary);
          border-bottom: 1px solid var(--color-primary);
        }
  
        .nav-tabs .nav-link.disabled, .nav-tabs .nav-link:disabled {
          color: var(--color-gray);
        }
  
        .nav-link {
          color: var(--color-text);
  
          svg {
            stroke: var(--color-primary);
            width: 22px;
            height: 22px;
            margin-right: .5rem;
          }
        }
  
        .btn-primary:focus,
        .btn-primary:hover,
        .btn-primary:active {
          width: 100%;
          background: var(--color-primary-light);
          color: var(--color-primary);
          border: none;
  
          span {
            color: var(--color-primary);
            font-size: .95rem;
            font-weight: 400;
          }
        }
  
        .active_btn {
          width: 100%;
          background: var(--color-primary-light);
          border: none;
          border-radius: 7px;
          padding: 5px 25px;
    
          span {
            color: var(--color-primary);
            font-size: .95rem;
            font-weight: 400;
          }
        }
    
        .default_btn {
          width: 100%;
          background: var(--color-gray);
          color: var(--color-text);
          border: none;
          border-radius: 7px;
          padding: 5px 20px;
    
          span {
            color: var(--color-text);
            font-size: .95rem;
            font-weight: 400;
          }
    
          svg {
            stroke: var(--color-text);
            width: 22px;
            height: 22px;
            margin-right: .5rem;
          }
        }
  
        #total-volume-parcel-cargo {
          border-top-right-radius: 7px !important;
          border-bottom-right-radius: 7px !important;
          font-size: .85rem;
          padding: 0.6rem;
          font-weight: 300;
        }
      }
  
      .delete_btn {
        background: #fff;
        color: var(--color-text);
        border: 2px solid var(--color-gray);
        border-radius: 7px;
        text-decoration: none;
        line-height: normal;
        display: initial;
        width: inherit;
  
        span {
          font-size: 10px;
          text-align: center;
          color: var(--color-text);
          font-weight: 300;
        }
  
        svg {
          stroke: var(--color-text);
          width: 20px;
          height: 20px;
        }
      }
  
      .add_more_btn {
        background: #fff;
        color: var(--color-text);
        border: 2px dashed var(--color-gray);
        border-radius: 7px;
        text-decoration: none;
        line-height: normal;
        display: initial;
        width: inherit;
  
        span {
          font-size: 10px;
          text-align: center;
          color: var(--color-text);
          font-weight: 300;
        }
  
        svg {
          stroke: var(--color-text);
          width: 20px;
          height: 20px;
        }
      }
  
      .form-check-input[type=checkbox] {
        cursor: pointer;
      }
  
      .form-check-label {
        font-size: 14px;
        font-weight: 400;
        color: var(--color-text);
      }
  
      .form-control {
          padding: .2rem;
          font-size: 0.75rem;
          color: var(--color-text);
          border: 1px solid var(--color-gray);
          border-radius: 7px;
          text-align: center;
      }
  
      .form-check-input {
        border: 1px solid var(--color-gray);
        outline: none;
      }
  
      .input-group-text {
          padding: .75rem 0.75rem;
          font-size: .7rem;
          line-height: 1.5;
          color: var(--color-text);
          background-color: var(--color-gray);
          border: 1px solid var(--color-gray);
          margin-left: 0px;
          border-top-right-radius: 7px !important;
          border-bottom-right-radius: 7px !important;
      }
  
      .mute_text {
        font-size: 10px;
        text-align: center;
        color: var(--color-text);
        font-weight: 300;
      }
  
      .submit {
  
        .submit_btn {
          background: var(--color-accent);
          border: none;
          border-radius: 7px;
          padding: 10px 35px;
    
          span {
            color: #fff;
            font-size: 1rem;
            font-weight: 700;
          }
    
          svg {
            stroke: #fff;
            width: 22px;
            height: 22px;
            margin-right: .5rem;
          }
        }
  
        .btn-primary:focus,
        .btn-primary:hover,
        .btn-primary:active {
          background: var(--color-primary);
          border: none;
          border-radius: 7px;
          padding: 10px 35px;
  
          span {
            color: #fff;
            font-size: 1rem;
            font-weight: 700;
          }
        }
      }
    }
    
}