:root {
  --color-primary: #005BFF;
  --color-accent: #FF5353;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f5f5 !important;
}

a {
  text-decoration: none !important;
}

@media (min-width: 1400px) {

  .content_wrapper {
    max-width: 960px !important;
    margin-top: 8rem;
  }

}

// Header CSS
.header {
  background-color: var(--color-primary);
  padding: 0 15px;
  margin-bottom: 50px;

  .navbar {
    a {
      color: #fff;
      font-weight: 500;

      .logo {
        &:hover path {
          fill: #FFFFFF;
        }
      }
    }
  
    .menu_item {
      color: #fff;
      margin-left: 50px;
  
      a {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
      }
  
      a:hover {
        color: #fff;
      }
  
      svg {
        margin-right: 5px;
        vertical-align: middle;
      }
    }
  }
}

// Main Content CSS
.main {

  h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 2rem;

    span {
      font-style: italic;
      color: var(--color-accent);
    }
  }

  p {
    font-family: 'Inter', sans-serif;
    color: #626161;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1;
  }
}

// Search Wrapper CSS
.search_wrapper {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 4px 4px #E5E5E5;
  border-radius: 7px;

  p {
    font-family: 'Inter', sans-serif;
    color: var(--color-primary);
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: .5rem;
  }

  .form-floating>label {
    color: #626161;
    font-size: 14px;
    font-weight: 400;
  }

  .input-cont {
    font-size: 0.8rem;
    color: #626161;
    font-weight: 400;
    border-color: #E7E7E7;
    border-radius: 7px !important;
    cursor: pointer;

    // option {
    //   font-weight: 400;
    //   color: #626161;
    // }
  }

  // Parameters CSS
  .cargo_parameters {

    p {
      color: var(--color-primary);
      font-size: 1rem;
      font-weight: 400;
      margin-top: .5rem;
      margin-bottom: .7rem;
    }

    .delivery_types {

      .btn-primary:focus,
      .btn-primary:hover,
      .btn-primary:active {
        width: 100%;
        background: #C7DEFF;
        color: var(--color-primary);
        border: none;

        span {
          color: var(--color-primary);
          font-size: .95rem;
          font-weight: 400;
        }
      }

      .active_btn {
        width: 100%;
        background: #C7DEFF;
        border: none;
        border-radius: 7px;
        padding: 5px 25px;
  
        span {
          color: var(--color-primary);
          font-size: .95rem;
          font-weight: 400;
        }
  
        svg {
          stroke: var(--color-primary);
          width: 22px;
          height: 22px;
          margin-right: .5rem;
        }
      }
  
      .default_btn {
        width: 100%;
        background: #E7E7E7;
        color: #626161;
        border: none;
        border-radius: 7px;
        padding: 5px 20px;
  
        span {
          color: #626161;
          font-size: .95rem;
          font-weight: 400;
        }
  
        svg {
          stroke: #626161;
          width: 22px;
          height: 22px;
          margin-right: .5rem;
        }
      }
    }

    .delete_btn {
      background: #fff;
      color: #626161;
      border: 2px solid #E7E7E7;
      border-radius: 7px;
      text-decoration: none;
      line-height: normal;

      span {
        font-size: 10px;
        text-align: center;
        color: #626161;
        font-weight: 300;
      }

      svg {
        stroke: #626161;
        width: 20px;
        height: 20px;
      }
    }

    .add_more_btn {
      background: #fff;
      color: #626161;
      border: 2px dashed #E7E7E7;
      border-radius: 7px;
      text-decoration: none;
      line-height: normal;

      span {
        font-size: 10px;
        text-align: center;
        color: #626161;
        font-weight: 300;
      }

      svg {
        stroke: #626161;
        width: 20px;
        height: 20px;
      }
    }

    .form-check-input[type=checkbox] {
      cursor: pointer;
    }

    .form-check-label {
      font-size: 14px;
      font-weight: 400;
      color: #626161;
    }

    .form-control {
        padding: 0.75rem 1rem;
        font-size: .8rem;
        color: #626161;
        border: 1px solid #E7E7E7;
        border-radius: 7px;
    }

    .form-check-input {
      border: 1px solid #E7E7E7;
      outline: none;
    }

    .input-group-text {
        padding: .75rem 0.75rem;
        font-size: .7rem;
        line-height: 1.5;
        color: #626161;
        background-color: #efefef;
        border: 1px solid #E7E7E7;
        margin-left: 0px;
        border-top-right-radius: 7px !important;
        border-bottom-right-radius: 7px !important;
    }

    .mute_text {
      font-size: 10px;
      text-align: center;
      color: #626161;
      font-weight: 300;
    }

    .submit {

      .submit_btn {
        background: var(--color-accent);
        border: none;
        border-radius: 7px;
        padding: 10px 35px;
  
        span {
          color: #fff;
          font-size: 1rem;
          font-weight: 700;
        }
  
        svg {
          stroke: #fff;
          width: 22px;
          height: 22px;
          margin-right: .5rem;
        }
      }

      .btn-primary:focus,
      .btn-primary:hover,
      .btn-primary:active {
        background: var(--color-primary);
        border: none;
        border-radius: 7px;
        padding: 10px 35px;

        span {
          color: #fff;
          font-size: 1rem;
          font-weight: 700;
        }
      }
    }
  }
  
}