:root {
    --font-family: 'Inter', sans-serif !important;
    --color-primary: #005BFF;
    --color-accent: #FF5353;
    --color-text: #626161;
    --color-gray: #e9ecef;
    --color-primary-light: #C7DEFF;
}